P{
    color:rgb(95, 11, 11);
}
form{
    color: rgb(77, 60, 95);
    background-color: rgb(236, 245, 185);
    background-image: url(OIP.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}